@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.c{
    width: calc(100% - 250px) !important;
}
.w {
    scrollbar-width: none;
}
.wf{
  width: calc(100% - 256px) ;
  left: 256px;
}
.bg{
  background-color: red !important;
}
.active{
  @apply bg-blue-600;
}
.click{
  @apply bg-[#274ddf12] border-r-4 border-r-blue-600
}
html{
    @apply font-ubuntu bg-gray-100;
}
.spin{
    animation: spin .5s linear infinite;
}
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }